/*Navbar Container*/

.navbar-container li {
    font-size: 18px;
}

.navbar-container ul {
    margin-left: 25px;
    margin-top: 25px;
    list-style: none;
    display: flex;
    gap: 40px;
}

.navbar-container a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Khula';
}

#navbar-btn {
    margin-left: 60%;
}

/*Center Container*/


.container-text {
    max-width: 1000px;
    margin-top: 12%;
    margin-left: 5%;
    line-height: 0.8;
}

.mini-text-container h3 {
    font-family: 'Khula';
    font-weight: initial;
    margin-left: 10px;
    font-size: 26px;
    color: white;
    
}

.general-text-container h1 {
    font-family: 'Khula';
    font-weight: initial;
    font-size: 150px;
    color: white;
}

.sub-text-container span {
    font-family: 'Khula';
    font-weight: initial;
    margin-left: 10px;
    font-size: 25px;
    color: white;
    line-height: 1.5em;

}

/*Img Hat Container*/

.container-hat-img {
    position: relative;
    width: 500px;
    height: 500px;
    margin-left: 65%;
    bottom: 490px;
}