/*Effects*/

/*Navbar Container*/

.container-hat-img:hover{
    background: url(../assests/src/images/hat-white-hover.png);
    z-index: 0;
}

.navbar-container {
    top: 0%;
    position: fixed;
    width: 100%;
    z-index: 10; 
}

.navbar-container li {
    font-size: 18px;
}

.navbar-container ul {
    margin-left: 25px;
    margin-top: 25px;
    list-style: none;
    display: flex;
    gap: 40px;
}

.navbar-container a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Khula';
}

#navbar-btn {
    margin-left: 60%;
}

/*Center Container*/


.container-text {
    max-width: 1000px;
    margin-top: 9%;
    margin-left: 5%;
    line-height: 0.8;
}

.mini-text-container h3 {
    font-family: 'Khula';
    font-weight: initial;
    margin-left: 10px;
    font-size: 26px;
    color: white;

}

.general-text-container h1 {
    font-family: 'Khula';
    font-weight: initial;
    font-size: 150px;
    color: white;
}

.sub-text-container span {
    font-family: 'Khula';
    font-weight: initial;
    font-size: 25px;
    color: white;
    line-height: 1.5em;


}

/*Img Hat Container*/

.container-hat-img {
    position: relative;
    width: 500px;
    height: 500px;
    margin-left: 65%;
    bottom: 490px;
}



/*Abas*/
section {
    width: 100%;
}

/*About me*/

.section-main-text {
    text-align: center;
}

.section-main-text span {
    font-size: 32px;
}

.section-general-texts {
    margin-top: 5%;
    margin-left: 5%;
    width: 920px;
    height: 600px;
    /*background-color: purple;*/
}

.section-center-text {
    text-align: center;
}

.section-center-text span {
    font-size: 78px;
}

.section-center-text p {
    font-size: 22px;
}

.section-square-technologias {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 9px;
    bottom: 255px;
    margin-left: 100%;
    width: 860px;
    height: 250px;
}

.square-technologias {
    margin-left: 3px;
    width: 250px;
    height: 250px;
    background-color: rgb(49, 49, 49);
    /*Cor para sections*/
    opacity: 0.2;
    border-radius: 9px;
}


.square-technologias img {
    width: 100%;
}

/*Projects*/

.section-main-projects {
    margin-top: 13%;
    width: 100%;
    height: 520px;
    display: flex;
}

.section-projects {
    margin-top: 5%;
    margin-left: 2%;
    width: 590px;
    height: 250px;
    background-color: rgb(49, 49, 49);
    border: solid white;
}

.section-name-projects {
    display: flex;
    gap: 10px;
}

.section-photo-project {
    position: relative;
    bottom: 10px;
    width: 30px;
    height: 30px;
    margin-left: 32%;
}

.section-photo-project img {
    width: 100%;
}

.section-name-project span {
    position: relative;
    top: 20px;
    font-size: 18px;
    margin-left: 15px;
}

.section-desc-project {
    position: relative;
    bottom: 14px;
    font-size: 23px;
    margin-left: 15px;
}

.desc-project {
    position: relative;
    height: 100px;
    bottom: 32px;
    font-size: 15px;
    text-align: left;
}

.desc-project span {
    right: 13px;
    display: flex;
    text-align: left;
}

.view-project {
    position: relative;
    bottom: 13px;    
}

.view-project a {
    color: white;
    font-size: 18px;
}