.navbar-container li {
    font-size: 18px;
}

.navbar-container ul {
    margin-left: 25px;
    margin-top: 25px;
    list-style: none;
    display: flex;
    gap: 40px;
}

.navbar-container a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Khula';
}

#navbar-btn {
    margin-left: 60%;
}




/*Navbar Container*/
